.nav
  CoGrower
.box
  %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "280", :src => "https://www.youtube.com/embed/Y-hCC3DdRaQ", :width => "553"}
  =render "form"
