@font-face {
  font-family: 'LatoBold';
  src: font-url('Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: 'LatoBoldItalic';
  src: font-url('Lato/Lato-Bold-Italic.ttf');
}
@font-face {
  font-family: 'LatoRegular';
  src: font-url('Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Chewy';
  src: font-url('Chewy/Chewy.ttf');
}
